<p id="notice"><%= notice %></p>
<p><strong>書籍名</strong>
  <%= @book.title %>
</p>
<p><strong>著者名</strong>
  <%= @book.author.name %>
</p>
<p><strong>出版日</strong>
  <%= @book.publish_date %>
</p>

<%= link_to 'Back', books_path %>
